:root{
	--activated:#ff5252;
	--primary:#00e5ff;
}
*{
	margin:0;
	padding:0;
}

div.center-wrap{
	width:100%;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}

div.loading-wrapper{
	width:50px;
	height:25px;
}

div.loading {
	position: relative;
	width:100%;
	height:100%;
}

div.loading span {
	display: block;
	bottom: 0px;
	width:calc(20% - 1px);
	height: 5px;
	background:var(--primary);
	position: absolute;
}
	div.loading.on span{
		animation: audio-wave 1s infinite ease-in-out;
	}

div.loading span:nth-child(2) {
left: 20%;
animation-delay: 0.1s;
}

div.loading span:nth-child(3) {
left: 40%;
animation-delay: 0.2s;
}

div.loading span:nth-child(4) {
left: 60%;
animation-delay: 0.3s;
}

div.loading span:nth-child(5) {
left: 80%;
animation-delay: 0.4s;
}

@keyframes audio-wave {
    0% {height:5px;background:var(--primary);}
    25% {height:100%;background:var(--activated);}
    50% {height:5px;background:var(--primary);}
    100% {height:5px;background:var(--primary);}
}